node_modules/

server/logs/
server/npm-debug.log
server/node_modules/
server/coverage/
server/.idea/
server/run/
server/logs/
server/.DS_Store
server/.vscode
server/*.swp
server/*.lock
server/*.js
server/!.autod.conf.js

server/database
server/app/**/*.js
server/test/**/*.js
server/config/**/*.js
server/app/**/*.map
server/test/**/*.map
server/config/**/*.map


client/node_modules
client/.pnp
client/.pnp.js
client/coverage
client/build

