{
  "extends": "eslint-config-egg/typescript",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "space-before-function-paren": [0, "always"],
    "array-bracket-spacing": 0,
    "arrow-parens": 0
  }
}
